/* author:safna K A*/
.fst img {
    width: 130px;
    margin-left: 15px;
}
.fst {
    border-right: 1px solid #a7e7ec;
    background-image: linear-gradient(to top, #fff, #f9f9f9);
}
.nav div {
    margin-left: 20px;
    padding: 2px;
}
.nav a {
    color: rgb(0, 123, 255);
}
.nav {
    width: 150px;
    font-size: 13px;
    /* background-color: rgb(190, 184, 177);*/
}
.nav a {
    text-decoration: none;
}
.scnd a {
    text-decoration: none;
    color: rgb(0, 106, 255);
}
.scnd h3 {
    border-bottom: 1px solid #a7e7ec;
}
.menubar {
    width: 1300px;
    display: flex;
    justify-content: end;
}
.menubar a {
    text-decoration: none;
}
.menubar p {
    display: inline;
}
.gap {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.art {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a7e7ec;
    padding: 2px;
}
.art1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.art2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(to bottom, #fff, #f9f9f9);
}

.container {
    display: flex;
    justify-content: start;
}
.welcome {
    margin-top: 20px;
    border: 1px solid #a7e7ec;
    text-align: center;
    line-height: 0.7;
    background-color: #f9f9f9;
}
.welcome p {
    font-size: 13.3px;
}
.welcome a {
    text-decoration: none;
}
.top {
    display: flex;
    gap: 30px;
}
.fetured-article h3 {
    border: 1px solid #a7e7ec;
    background-color: #c8fbec;
    margin-top: 0;
}
.main-content {
    margin-left: 20px;
}
.fetured-article {
    margin-top: 20px;
    border: 1px solid #cef2e0;
    width: 700px;
    padding: 10px;
    background-color: #f5fffa;
}
.img1 {
    width: 310px;
    height: 63px;
    float: left;
}
.img2 {
    width: 123px;
    height: 163px;
    float: right;
}
.whole-content {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.whole-content a {
    text-decoration: none;
}
.blue {
    color: #1449f6;
}
.news {
    margin-top: 20px;
    border: 1px solid #cef2e0;
    width: 550px;
    padding: 10px;
    background-color: #f5fffa;
}
.news h3 {
    border: 1px solid #a3b0bf;
    background-color: #cedff2;
    margin-top: 0;
}
.img3 {
    width: 171px;
    height: 114px;
    float: right;
}
.news p {
    text-align: right;
}
.list {
    font-weight: bold;
    line-height: 0.6;
    text-align: right;
}

.img4 {
    width: 143px;
    height: 136px;
    float: right;
}
.footer {
    border-top: 1px solid #a7e7ec;
    margin-left: 150px;
    padding-left: 20px;
    font-size: 14px;
}
.end {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
